<div class="card {% if include.url %} shadow {% endif %} m-5">
        {% if include.image %}
        <img src="{{ site.url }}{{ site.baseurl }}/img/{{ include.image }}" width="200px" height="300px" class="img-fluid card-img-top" alt="{{ include.title }}" />
        {% else if include.url %}
        <img src="{{ site.url }}{{ site.baseurl }}/img/no-img.jpg" width="200px" height="300px" class="img-fluid card-img-top"/>
        {% endif %}
    {% if include.url %}
    <a href="{{ include.url | absolute_url }}">
        <div class="card-img-overlay card-word-wrap"> 
            <h4 class="card-title module-title">{{ include.title }}</h4>
        </div>
    </a>
    {% endif %}
</div>
