<div class="card">
    {% if include.url %}
    {% if include.image %}
    <a href="{{ include.url | absolute_url }}"  style="height:50%; width:100%;overflow:hidden;">
        <img src="{{ site.url }}{{ site.baseurl }}/img/{{ include.image[0] }}" class="img-fluid card-img-top" alt="{{ include.title }}" />
    </a>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ include.title }}</h4>
        {% if include.text != nil %}
            <p class="card-text">{{ include.text }}</p>
        {% endif %}
        <a href="{{ include.url | absolute_url }}" class="btn btn-primary">Show</a>
    </div>
    {% endif %}
</div>
