{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign base_url = url_parts[0] %}
{% for i in (1..include.hierarchy) %}
  {% assign base_url = base_url | concat: '/' | concat: url_parts[i] %}
{% endfor %}
{{ base_url }}-{{ url_parts[0] }}-{{ url_parts[1] }}
{% assign child_pages = include.pages | where_exp: "item", "item.url contains base_url" %}
{{ child_pages | size }}
{% assign new_hierarchy = include.hierarchy | plus: 1 %}
{% if new_hierarchy < url_parts_size %}
  {% assign base_url | concat: '/' | concat: url_parts[new_hierarchy] %}
  {{ base_url }} new hierarchy
{% endif %}
<ul>
{% for node in child_pages %}
  <li class="navigation-list-item {% if page.url == node.url %} active{% endif %}">
    <a href='{{node.url | absolute_url }}'>{{node.title}}</a>
  </li>
  {% if node.url contains base_url %}
    {% include nav.html pages=child_pages hierarchy=new_hierarchy %}
  {% endif %}
{% endfor %}
</ul>
 

<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
    {%- for node in pages_list -%}
      {%- unless node.nav_exclude -%}
        {%- if node.parent == nil -%}
          <li class="navigation-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
            {%- if page.parent == node.title or page.grand_parent == node.title -%}
              {%- assign first_level_url = node.url | absolute_url -%}
            {%- endif -%}
            <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
            {%- if node.has_children -%}
              {%- assign children_list = site.html_pages | where: "parent", node.title | sort:"nav_order" -%}
              <ul class="navigation-list-child-list ">
                {%- for child in children_list -%}
                  <li class="navigation-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                    {%- if page.url == child.url or page.parent == child.title -%}
                      {%- assign second_level_url = child.url | absolute_url -%}
                    {%- endif -%}
                    <a href="{{ child.url | absolute_url }}" class="navigation-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                    {%- if child.has_children -%}
                        {%- assign grand_children_list = site.html_pages | where: "parent", child.title | sort:"nav_order" -%}
                        <ul class="navigation-list-child-list">
                        {%- for grand_child in grand_children_list -%}
                          <li class="navigation-list-item {% if page.url == grand_child.url %} active{% endif %}">
                            <a href="{{ grand_child.url | absolute_url }}" class="navigation-list-link{% if page.url == grand_child.url %} active{% endif %}">{{ grand_child.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>
