---
layout: default
---

<div class="row clearfix">
    <div class="col-12 pb-6">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="col-12">
        <div class="row">
            <!-- col-12 (full page) on small screen width
                col-6 (half page) on medium and wider screen width
                order-md-last arranges column at last position if screen width wider than medium
            -->
            <div class="col-12 col-md-6 order-md-last p-5">
                {% if page.image %}
                    <img src="{{ page.url | absolute_url }}{{ page.image }}" class="img-fluid" />
                {% endif %}
                {% if page.file %}  
                <div class="w-100 text-center p-5">
                    <a href="{{ page.url | absolute_url }}{{page.file}}">
                        <button type="button" name="button" class="btn btn-lg btn-primary">Download Files</button>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 p5">
                {% if page.content %}
                    {{ content }}
                {% endif %}
                
                {% if page.video%}
                    {% include video.html url=page.video %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


