---
layout: default
---
{% assign layout_type = 'module' %}
{% assign child_modules = site.pages | where_exp: "item", "item.url contains page.url" | where_exp: "item", "item.layout contains layout_type"%}
{% assign tags = child_modules | map: "tags" | uniq | compact %}

<h1>{{ page.title }}</h1>

{{ content }}


<div class="button-group filter-button-group">
    <h3>Filter</h3>
    {% for tag in tags %}
    <button type="button" class="btn btn-secondary" data-filter=".{{ tag | remove:' ' }}">
       {{ tag }}
    </button>
    {% endfor %}
    <button type="button" class="btn btn-primary" data-filter="*">All</button>
  </div>
  
  <div class="button-group sort-by-button-group">
    <h3>Sort</h3>
    <button type="button" class="btn btn-primary" data-sort-by="original-order">Normal</button>
    <button type="button" class="btn btn-secondary" data-sort-by="title">Name</button>
    <button type="button" class="btn btn-secondary" data-sort-by="tag">Tag</button>
    </div>
  </div>

  <div class="module-filter">
    {% for module in child_modules %}
    <div class="module-item {% for tag in module.tags %}{{tag | remove:' '}} {% endfor%}" data-tag="{% for tag in module.tags %}{{tag | remove:' '}}{% endfor%}" data-title="{{ module.title | remove: ' '}}">
            {% include card.html title=module.title url= module.url image=module.image %}
    </div>
    {% endfor %}
  </div>




  <script type="text/javascript" src="{{ '/assets/js/vendor/isotope.min.js' | absolute_url }}"></script>
  <script>

      $(document).ready(function() {var $moduleFilter = $('.module-filter').isotope({
        itemSelector: '.module-item',
        layoutMode: 'masonry',
        masonry: {
            columnWidth: 240,
        },
        getSortData: {
          title: '[data-title]', 
          tag: '[data-tag]',
        }
      });
      /* sorting */
      $('.sort-by-button-group').on('click', 'button', function(){
        var sortByValue = $(this).attr('data-sort-by');
        $moduleFilter.isotope({ sortBy: sortByValue });
      });
      $('.sort-by-button-group button.btn').on('click', function(){
          $('.sort-by-button-group button.btn').removeClass('btn-primary');
          $('.sort-by-button-group button.btn').addClass('btn-secondary');
          $(this).removeClass('btn-secondary');
          $(this).addClass('btn-primary');
      });
      /* filtering */
      $('.filter-button-group').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $moduleFilter.isotope({ filter: filterValue });
        $moduleFilter.isotope('updateSortData').isotope();
      });
      $('.filter-button-group button.btn').on('click', function(){
          $('.filter-button-group button.btn').removeClass('btn-primary');
          $('.filter-button-group button.btn').addClass('btn-secondary');
          $(this).removeClass('btn-secondary');
          $(this).addClass('btn-primary');
      });
    });

      
  </script>
  <style type="text/css">
    .module-item {
        float: left;
        width: 240px;
        height: 240px;
    }

    .module-item--width2 { width: 480px; }
    .module-item--height2 { height: 480px; }
  </style>